<div class="side-menu">

    <div class="m-h">
        <i class="fa-solid fa-circle-user"></i>
        <h3>Hello, User</h3>
    </div>

    <div class="title1">
        <h2>Digital Content & Devices</h2>
        <li></li>
    </div>
</div>